doctype html
html(ng-app='joola')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="components/primus.js")
    script(src="components/underscore/underscore-min.js")
    script(src="components/d3/d3.min.js")
    script(src="components/angular/angular.min.js")
    script(src="components/n3-line-chart/dist/line-chart.min.js")
    script(src="javascripts/client.js")
  body
    block content