doctype html
html(ng-app='joola')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="components/angular/angular.min.js")
    script(src="javascripts/app.js")
  body
    block content